@import '../../../styles/settings.scss';

.root {
  margin-top: -12px;
  margin-left: 1219px;
  padding: 0 15px 15px 15px;
  max-width: 300px;

  .wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .filterTitle {
    border-bottom: 2px solid $dark-1;
    padding: 10px 0;
    text-transform: uppercase;
    font-weight: bold;
  }

  a {
    margin: 0;
    padding-top: 2px;
    margin-left: 10px;
  }

  .colorWrapper {
    display: flex;

    &:hover {
      display: flex;
      margin-left: 30px;
      color: $orange;
    }
  }
}

.square {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 8px 8px;
  border-radius: 2px;
}

.red {
  background-color: rgb(241, 74, 74);
}

.black {
  background-color: black;
}

.yellow {
  background-color: yellow;
}

.blue {
  background-color: rgb(6, 132, 250);
}

.pink {
  background-color: magenta;
}

.green {
  background-color: lawngreen;
}
