@import "../../../styles/settings.scss";

// .root {
// }

.main {
  background-color: $btn-dark-bcg;
  color: $btn-dark-text;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  padding: 10px 30px;

  &:not(.noHover):hover {
    color: $btn-dark-text !important;
    background-color: $btn-dark-bcg-hover;
    text-decoration: none;
  }
}

.small {
  @extend .main;
  font-size: 13px;
  line-height: 24px;
  padding: 5px 10px;
  font-weight: 400;
}

.outline {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $btn-light-border;
  color: $btn-light-text;
  font-size: 13px;
  line-height: 22px;

  &:not(.noHover):hover {
    background-color: $btn-light-bcg-hover;
    color: $btn-light-text-hover;
  }
}
