@import '../../../styles/settings.scss';

.root {
  .image {
    position: relative;
    width: 100%;
    height: 400px;
    margin-bottom: $base-padding * 1.25;

    &::after {
      position: absolute;
      content: '';
      background: $deals-layer;
      opacity: 0.5;
      top: 7%;
      left: 7%;
      width: 86%;
      height: 86%;
    }

    &.small {
      height: 185px;

      &::after {
        opacity: 0;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .description {
    position: absolute;
    text-transform: uppercase;
    z-index: 1;

    &Left {
      bottom: 0;
      left: 0;
      color: $deals-white;
      padding: $base-padding * 2.5;

      h3 {
        margin: 0;
      }

      h1 {
        margin-bottom: 1.5rem;
        font-weight: 700;
      }

      h2 {
        display: inline;
        margin: 0;
        padding: $base-padding / 3;
        border: 4px solid;
      }
    }

    &RightUp {
      top: 10%;
      left: 10%;
      color: $deals-white;

      h4 {
        margin: 0;
        letter-spacing: 0.2rem;

        span {
          font-weight: 900;
        }
      }

      h6 {
        margin: 0;
        letter-spacing: 0.2rem;
      }

      h3 {
        margin: 0;
        color: $deals-orange;
        font-weight: 700;
      }

    }

    &RightDown {
      top: 60%;
      right: 5%;
      text-align: right;

      h5 {
        margin: 0;
        color: $deals-orange;
        letter-spacing: 0.1rem;

        span {
          font-weight: 900;
        }
      }

      h6 {
        margin: 0;
        color: $deals-white;

        span {
          font-size: larger;
        }
      }
    }
  }
}
