@import "../../../styles/settings.scss";

@mixin border ($sides...) {
  @each $side in $sides {
    border-#{$side}: 1px solid $tab-border;
  }
}

/* Product */

.root {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  position: relative;
}

.swipeable {
  height: 100%;
}

.fadeout {
  opacity: 0;
  transition: 0.5s;
}

.fadein {
  transition: 0.5s;
}

/* Slider */

.slider {
  display: flex;
  align-items: stretch;
  flex: 1 1 auto;
  height: 100%;

  .slide {
    position: relative;
    background-color: $pb-photo-bcg;
    display: inline-block;
    height: 100%;

    // img {
    //   width: 100%;
    //   height: 100%;
    //   object-fit: cover;
    // }
  }
}

// Controls

.buttons {
  display: flex;
  width: 100%;
  height: 39px;
  flex: 0 0 auto;
}

.button {
  height: 100%;
  width: 50%;
  text-align: center;
  background-color: $dark-4;
  display: flex;
  align-items: center;
  justify-content: center;

  .icon {
    color: $white;
  }
}

.dots {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  margin: 4px;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: $light-1;
  display: inline-block;
  margin: 0 4px;
  cursor: pointer;

  &:hover {
    background-color: $orange;
  }

  &.active {
    background-color: $orange;
  }
}


