@import "../../../styles/settings.scss";

.root {
  padding: $base-padding 0;

  .productContainer {
    border: 1px solid #434343;
  }

  .rowrow {
    height: 470px;
    //overflow: hidden;
    margin-bottom: 10px;
  }
}
