@import "../../../styles/settings.scss";

.root {
  padding: $base-padding 0;

  .panelBar {
    margin-bottom: 30px;
    position: relative;

    :global(.row) > * {
      border-bottom: 4px solid $nf-border;
    }

    .heading {
      position: relative;

      h3 {
        color: $nf-head-text;
        text-transform: uppercase;
        font-size: 20px;
        line-height: 38px;
        margin: 0;
        letter-spacing: 1px;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0;
        width: 45px;
        border-bottom: 4px solid $nf-head-border;
      }
    }

    .menu {
      text-align: center;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: inline-block;
          margin: 0 0.5rem;
          font-weight: 600;

          a {
            color: $menu-text;
            position: relative;
            text-decoration: none;
            font-size: 18px;
            display: block;
            cursor: pointer;

            &.active,
            &:hover {
              &::before {
                content: "";
                position: absolute;
                bottom: -4px;
                left: 0;
                width: 100%;
                border-bottom: 4px solid $menu-border-hover;
                @extend %hover-animation;
              }
            }
          }
        }
      }
    }

    .dots {
      position: absolute;
      right: 0;
      top: 0;

      ul {
        margin: 0;
        padding: 0 0 0 1rem;
        list-style: none;
        background-color: $dots-bcg-hover;
        transform: translateY(15px);

        li {
          display: inline-block;
          margin-left: 0.5rem;

          a {
            display: block;
            width: 13px;
            height: 13px;
            border-radius: 6px;
            background-color: $dot-bcg;
            font-size: 0;
            cursor: pointer;
            @extend %hover-animation;

            &.active,
            &:hover {
              background-color: $dot-bcg-hover;
            }
          }
        }
      }
    }
  }

  .fadeout {
    opacity: 0;
    transition: 0.5s;
  }

  .fadein {
    transition: 0.5s;
  }
}

@media (max-width: 767px) {
  .root .panelBar .menu {
    text-align: left;
    padding-left: $base-padding / 4;

    ul li {
      margin: 0 0.1rem;

      a {
        font-size: 12px;
      }
    }
  }
}
