@import "../../../styles/settings.scss";

.root {
  background-color: $header-topbar-bcg;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      line-height: 55px;

      a {
        color: $tp-text;
        font-size: 13px;
        @extend %hover-animation;

        &:hover {
          color: $tp-text-hover;
          text-decoration: none;
        }
      }
    }
  }

  .topOptions ul li {
    margin-right: 1.5rem;

    .icon {
      margin-left: 5px;
    }
  }

  .topMenu ul li {
    margin-left: 1.5rem;

    .icon {
      margin-right: 5px;
    }
  }

  @media (max-width: 575px) {
    .topOptions {
      padding-left: 5px;
      padding-right: 0;

      ul li {
      margin-right: 2px;

        .icon {
          margin-left: 2px;
          margin-right: 2px;
        }
      }
    }

    .topMenu {
      padding-left: 0;
      padding-right: 5px;
    }
  }
}
