@import "../../../styles/settings.scss";

.root {
  background-color: $header-topbar-bcg;
  max-height: 36px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      position: relative;
      line-height: 35px;

      &:hover ul {
          display: block;
          position: absolute;
      }
      &:hover .optionsIcon {
        transform: rotate(180deg);
      }

      ul {
        display: none;
        z-index: 999;
        
        li {
          display: block;
          line-height: 17px;
          border-top: 1px solid $header-phone;
        }
      }
    
      a {
        color: $tp-text;
        font-size: 13px;
        @extend %hover-animation;

        &:hover {
          color: $tp-text-hover;
          text-decoration: none;
        }
      }
    }
  }

  .topOptions ul li {
    margin-right: 1.5rem;

    .icon {
      margin-left: 5px;
    }
  }

  .topMenu ul li {
    margin-left: 1.5rem;

    .icon {
      margin-right: 5px;
    }
    p {
      display: inline-block;
    }
  }

  @media (max-width: 767px) {
    .topMenu ul li {
      p {
        display: none;
      }
    }
    .topOptions ul li {
      background-color: $header-topbar-bcg;
      border-radius: 10%;
    }
  }

  @media (max-width: 575px) {
    .topOptions {
      padding-left: 5px;
      padding-right: 0;

      ul li {
      margin-right: 2px;

        .icon {
          margin-left: 2px;
          margin-right: 2px;
        }
        .opitonsIcon {
          margin-right: 1px;
        }
      }
    }

    .topMenu {
      padding-left: 0;
      padding-right: 5px;
    }
  }
}
