@import "../../../styles/settings.scss";

.root {
  padding: 20px 0 50px 0;

  .brandsBar {
    border-top: 1px solid $brands-border;
    border-bottom: 1px solid $brands-border;
    margin: 0;
    padding: 15px 0 15px 0;
    flex-wrap: nowrap;

    .brandsList {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      flex-grow: 1;
      list-style-type: none;
      margin: 0;
      padding: 0;
      
      .brand {
        border: 1px solid $brands-border; 
        width: 200px;
        height: 100px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 40%;
      }
    }

    .button {
      position: relative;
      width: 30px;
      height: 100px;
      border-radius: 5%;
      background-color: $brands-btn;
      @extend %hover-animation;
      &:hover {
        background-color: $brands-btn-hover;
      }

      .sign {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        color: $brands-text;
      }
    }
  }
}

@media (max-width: 1199px) {
  .brand:nth-child(n+5) {
     display: none;
  }
}
@media (max-width: 991px) {
  .brand:nth-child(n+4) {
    display: none;
  }
}
@media (max-width: 767px) {
  .brand:nth-child(n+3) {
    display: none;
  }
}
@media (max-width: 511px) {
  .brand:nth-child(n+2) {
    display: none;
  }
}
