@import '../../../styles/settings.scss';

.root {
  padding: ($base-padding * 2) 0;
  background: $login-bcg-out;

  .title {
    text-align: center;
    color: $login-title;
    padding: $base-padding / 2;
  }

  .loginWrapper {
    display: flex;
    flex-direction: column;
    background: $login-bcg-in;
    padding: ($base-padding * 2) ($base-padding * 3);
    max-width: 500px;
    margin: auto;
    border-top: 8px solid $login-border-out;
    border-radius: 10px;
    box-shadow: 10px 10px 50px;

    .button {
      margin: auto;
      padding: ($base-padding / 2) ($base-padding * 2);
      background: linear-gradient(lighten($login-btn-bcg, 40%), $login-btn-bcg);
      color: $login-btn-txt;
      font-weight: bolder;
      border-radius: 5px;
      box-shadow: 0 0 10px $login-border-in;

      &:hover {
        background: linear-gradient($login-btn-bcg, darken($login-btn-bcg, 40%));
        box-shadow: 0 0 20px darken($login-hover, 20%);
        @extend %hover-animation;
      }
    }

    // tu pisac kod
    > div {
      position: relative;
      background: white;

      // Looks like placeholder
      > label {
        opacity: 0.3;
        font-weight: bold;
        position: absolute;
        top: 12px;
        left: 20px;
      }

      > input[type='text'],
      > input[type='email'],
      > input[type='password'] {
        width: 100%;
        border: 0;
        padding: 8px 8px 8px 30px;
        border: 2px solid $login-border-in;
        margin-bottom: $base-padding;
        border-radius: 5px;
        outline: none;
        font-weight: bolder;
        box-shadow: 0 0 5px;


        &:hover, &:focus {
          color: $login-hover;
          border: 2px solid $login-hover;
          box-shadow: 0 0 10px $login-hover;
          background: lighten($login-hover, 40%);
          cursor: pointer;
          @extend %hover-animation;
          // removing default focus style
          outline: 0;
          // adding new one
          & + label {
            opacity: 0;
            cursor: pointer;
          }
        }

        &:valid {
          background-size: 20px;
          background-repeat: no-repeat;
          background-position: 20px 20px;
          & + label {
            opacity: 0;
          }
        }

        &:invalid:not(:focus):not(:placeholder-shown) {
          background: pink;
          & + label {
            opacity: 0;
          }
        }

        &:invalid:focus:not(:placeholder-shown) {
          & ~ .requirements {
            max-height: 200px;
            padding: 0 30px 20px 50px;
          }
        }

      }

      .requirements {
        padding: 0 30px 0 50px;
        color: #999;
        max-height: 0;
        transition: 0.28s;
        overflow: hidden;
        color: red;
        font-style: italic;
      }

    }

    .checkboxWrapper {
      display: flex;
      flex-direction: column;
      margin: 25px 0;
      width: 90%;
      padding-left: 10px;

      .conditions {
        display: flex;
        flex-direction: row;
        align-items: center;

        input {
          height: 19px;
          width: 19px;
          margin-right: 10px;
        }

        h6 {
          font-size: 13px;
          color: $bck-register;
          margin: 0;
        }
        .checkAll {
          font-weight: bold;
        }
      }
    }

    &:hover {
      box-shadow: 0 0 50px darken($login-bcg-out, 60%);
      @extend %hover-animation;
    }
  }
}
