@import '../../../styles/settings.scss';

.root {
  padding: ($base-padding * 2) 0;
  background: $bck-register;

  .title {
    text-align: center;
    color: $register-title;
    padding: $base-padding / 2;
  }

  .loginWrapper {
    display: flex;
    flex-direction: column;
    background: $white-register;
    padding: ($base-padding * 2) ($base-padding * 3);
    max-width: 500px;
    margin: auto;
    border-top: 8px solid $register-border-out;
    border-radius: 10px;
    box-shadow: 10px 10px 50px;

    .button {
      margin: auto;
      padding: ($base-padding / 2) ($base-padding * 2);
      background: linear-gradient(lighten($btn-register, 40%), $btn-register);
      color: $login-btn-txt;
      font-weight: bolder;
      border-radius: 5px;
      box-shadow: 0 0 10px $bd-register;
      margin-top: 15px;

      &:hover {
        background: linear-gradient($btn-register, darken($btn-register, 40%));
        box-shadow: 0 0 20px darken($register-hover, 20%);
        @extend %hover-animation;
      }
    }

    > div {
      position: relative;
      background: white;

      > label {
        opacity: 0.3;
        font-weight: bold;
        position: absolute;
        top: 12px;
        left: 20px;
      }

      > input[type='text'],
      > input[type='email'],
      > input[type='password'] {
        width: 100%;
        border: 0;
        padding: 8px 8px 8px 30px;
        border: 2px solid $bd-register;
        margin-bottom: $base-padding;
        border-radius: 5px;
        outline: none;
        font-weight: bolder;
        box-shadow: 0 0 5px;

        &:hover, &:focus {
          color: $register-hover;
          border: 2px solid $register-hover;
          box-shadow: 0 0 10px $register-hover;
          background: lighten($register-hover, 40%);
          cursor: pointer;
          @extend %hover-animation;
          outline: 0;

          & + label {
            opacity: 0;
            cursor: pointer;
          }
        }

        &:valid {
          background-size: 20px;
          background-repeat: no-repeat;
          background-position: 20px 20px;
          & + label {
            opacity: 0;
          }
        }

        &:invalid:not(:focus):not(:placeholder-shown) {
          background: pink;
          & + label {
            opacity: 0;
          }
        }

        &:invalid:focus:not(:placeholder-shown) {
          & ~ .requirements {
            max-height: 200px;
            padding: 0 30px 20px 50px;
          }
        }
      }

      .requirements {
        padding: 0 30px 0 50px;
        color: #999;
        max-height: 0;
        transition: 0.28s;
        overflow: hidden;
        color: red;
        font-style: italic;
      }
    }

    &:hover {
      box-shadow: 0 0 50px darken($bck-register, 60%);
      @extend %hover-animation;
    }
  }
}
