@import "../../../styles/settings.scss";

.root {
  margin: auto;
  background-color: $light-1;
  position: relative;
  padding: 30px;
  height: 400px;
  width: 500px;
  text-align: center;
  border-radius: 5%;

  .box {
    display: flex;
    height: 100%;
  }

  img {
    object-fit: cover;
    width: 50%;
    border-radius: 5%;
  }

  h2 {
    margin-bottom: 10px;
    font-weight: bold;
  }

  .details {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }

  .boxColumn {
    height: 25%;
    border-bottom: 1px solid $light-2;
    border-top: 1px solid $light-2;
    padding: 3px;

    h4 {
      font-weight: bold;
      margin: 0;
    }

    h5 {
      font-size: 17px;
      margin-top: 3px;
      margin-bottom: 3px;
    }
  }

  .category h4 {
    text-transform: capitalize;
  }
}
