//*******COLOURS - VARIABLES*******//
//DO NOT USE IN OTHER FILES!//
$transparent: transparent;
$dark-1: #434343;
$dark-2: #363636;
$dark-3: #2a2a2a;
$dark-4: #292929;
$dark-5: #010202;
$white: #ffffff;
$light-1: #f4f5f7;
$light-2: #e1e1e1;
$light-3: #e2e2e2;
$light-4: #d8d8d8;
$light-5: #b6b6b6;
$light-6: #a9a9a9;
$light-7: #e0e3ed;
$orange: #d58e32;
$green: #79AE31;
$orange-light: #dea55c;

//*******COLOURS BY COMPONENT*******//
//OTHER FILES USABLE!//

//*****VIEWS******//
//CART
$background-banner: $dark-1;
$background-white: $white;
$button: $dark-4;
$orange: $orange;


//*****COMMON*****//
//BUTTON
$btn-dark-bcg: $dark-3;
$btn-dark-bcg-hover: $orange;
$btn-dark-text: $white;

$btn-light-border: $dark-3;
$btn-light-bcg-hover: $dark-3;
$btn-light-text: $dark-3;
$btn-light-text-hover: $white;

//FEATURE BOX
$fb-border: $light-5;
$fb-bcg: $white;
$fb-content: $dark-3;
$fb-text: $dark-3;

$fb-border-active: $orange;
$fb-bcg-active: $orange;
$fb-content-active: $orange;
$fb-text-active: $white;

//BLOG BOX
$bb-border: $dark-1;
$bb-bcg: $white;



//PRODUCT BOX
$pb-border: $light-2;
$pb-bcg: $white;

$pb-bb:$dark-3;
$pb-bb-before: $orange;

$pb-photo-bcg: $light-1;

$sale-bcg: $dark-4;
$sale-text: $white;

$product-title: $orange;

$fave-bcg: $dark-3;
$fave-color: $light-1;

$compare-bcg: $dark-3;
$compare-color: $light-1;

//RATING
$stars-colour: $dark-3;
$stars-rated-colour: $orange;

//*****FEATURES*****//
//BANNER
$bm-bcg: $dark-1;
$bm-color: $white;

$bs-span: $orange;

$sb-bcg: $light-3;
$sb-a: $dark-5;
$sb-link-after: $dark-5;
$sb-link-active: $orange;

//CATEGORY FILTER
$cf-header: $dark-1;
$cf-item-hover: $orange;
$cf-amount-bcg: $dark-4;
$cf-amount-color: $light-1;

//DEALS
$deals-layer: $dark-3;
$deals-white: $white;
$deals-orange: $orange;

//NEW FURNITURE
$nf-border: $light-3;
$nf-head-border: $orange;
$nf-head-text: $orange;

$menu-text: $dark-3;
$menu-border-hover: $orange;

$dot-bcg: $light-2;
$dot-bcg-hover: $orange;
$dots-bcg-hover: $white;

//BRANDS
$brands-text: $white;
$brands-border: $light-2;
$brands-btn: $dark-3;
$brands-btn-hover: $orange;

//PRODUCT SEARCH
$form-border: $dark-4;
$form-icon: $orange;
$form-text: $dark-3;
$form-select-bcg: $transparent;

//PRICE FILTER
$pf-background: $dark-5;
$pf-white: $white;
$pf-button: $orange;
$pf-hover: $orange-light;

//STICKY BAR//
$sticky-bcg: $dark-3;
$sticky-photo-bcg: $light-1;
$sticky-icon-bcg: $light-6;

//GALLERY
$tab-bcg: $light-1;
$tab-border: $light-2;
$tab-active: $orange;
$slider-text: $white;
$slider-btn: $dark-3;
$slider-btn-hover: $orange;
$promo-button: $green;

//GALLERY PRODUCT
$button-bcg: $white;
$label-bcg: $white;
$label-corner: $dark-5;
$label-shadow: $dark-1;
$price-color: $white;
$price-bcg: $dark-1;

//CART
$cart-bcg: $orange;
$cart-hover: $dark-3;
$cart-text: $white;
$cc-counter: $light-7;

//SIZE FILTER
$sf-background: $dark-5;
$sf-white: $white;
$sf-hover: $orange;

//TAG FILTER
$tf-line: $dark-5;
$tf-border: $light-4;
$tf-basic: $light-6;
$tf-hover: $orange;

//*****LAYOUT*****//
//FOOTER
$footer-bcg: $dark-2;
$footer-claim-bcg: $dark-3;
$footer-text: $white;
$footer-text-secondary: $light-6;
$footer-icon-hover: $orange;

//HEADER
$header-bcg: $dark-2;
$header-topbar-bcg: $dark-1;
$header-phone: $light-4;
$header-icon: $orange;

//MENU BAR
$menu-bcg: $white;
$menu-bcg-hover: $orange;
$menu-shadow: $dark-5;
$menu-text: $dark-3;
$menu-text-hover: $white;

//TOP BAR
$tp-text: $white;
$tp-text-hover: $orange;

//CHATBOX
$button: $dark-4;
$window: $white;
$message: $light-7;

//*****VIEWS*****//
//PRODUCT LIST
$pl-select: $light-6;
$pl-border: $dark-1;
$pl-hover: $orange;
$pl-background-ul: $white;
$pl-background-li: $light-4;

//***BASE***//

$base-padding: 24px;

//***TRANSITIONS/ANIMATIONS***//

$transition:
  color 0.25s,
  border 0.25s,
  background-color 0.25s;

%hover-animation {
  transition: $transition;
}

//* MIXINS *//
@mixin center () {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
