@import "../../../styles/settings.scss";

.root {
  background-color: #ffffff;
  border: 1px solid #e1e1e1;
  margin-bottom: 2rem;

  .photo {
    position: relative;
    padding: 80% 10px 0 10px;
    background: {
      color: #ffffff;
      size: contain;
      position: center;
      repeat: no-repeat;
    }
    overflow: hidden;
    align-items: flex-end;

    &:hover {
      background: rgba(0, 0, 0, 0.3);
    }


    .sale {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #292929;
      border-radius: 50%;
      color: #ffffff;
      padding: 30px 15px 5px 15px;
      z-index: 1;
    }

    .image{
      position: absolute;
      width: 200px;
      height: 200px;
      display: flex;
      align-content: center;
      justify-content: center;
      top: 0;

      .img {
        object-fit: cover;
        position: absolute;
        width: 100%;
        height: 100%;

      }

      &:hover > img {
        opacity: 0.4;
        cursor: pointer;
      }

      .buttons {
        visibility: hidden;
        display: flex;
        justify-content: space-between;
        position: absolute;
        z-index: 1;
      }

      &:hover > .buttons {
        visibility: visible;
        display: flex;
        justify-content: space-between;
        opacity: 1;
        position: absolute;
        z-index: 1;
        align-items: flex-end;
        bottom: 0;
      }
    }

  }

  .content {
    text-align: center;
    padding: 20px;

    h5 {
      color: $primary;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    .stars {
      a {
        text-decoration: none;
        color: rgb(42, 42, 42);
      }
    }
  }

  .line {
    margin: 0 10px;
    border-bottom: 1px solid #2a2a2a;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $primary;
      transform: translateX(-50%);
    }
  }

  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
