@import "../../../styles/settings.scss";

.root {
  padding: 0 $base-padding;

  .title {
    text-transform: uppercase;
    border-bottom: 1px solid $pf-background;
    padding-bottom: $base-padding / 2;
  }

  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 10px;
    background: $pf-button;
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: $pf-hover;
      @extend %hover-animation;
    }
  }

  .price {
    display: flex;
    justify-content: flex-end;

    .priceValue {
      margin: ($base-padding / 2) 0 $base-padding auto;
      text-align: right;
      font-weight: bolder;
      border: 1px solid $pf-background;
      padding: ($base-padding / 4) ($base-padding / 2);
    }
  }

  &:hover {
    .priceValue {
      border: 1px solid $pf-button;
      color: $pf-button;
    }
  }
}
