@import "../../../styles/settings.scss";

.tabs {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }

  li {
    flex: 1;

    & + li {
      border-left: 1px solid $tab-border;
    }
  }

  a {
    display: flex;
    justify-content: center;
    color: $menu-text;
    text-transform: uppercase;
    font-size: 12px;
    padding: $base-padding/4 $base-padding/2;
    text-decoration: none;
    text-align: center;
    border-top: 4px solid $menu-bcg;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    @extend %hover-animation;

    &:hover, &:focus,
    &.active {
      background-color: $tab-bcg;
      color: $tab-active;
      border-color: $tab-active;
      outline: none;
    }

    &.active {
      border-color: $menu-text;
    }
  }
}

.main_picture {
  width: 100%;
}

.border {
  border: 1px solid $tab-border;
}

.slider {
  display: flex;
  overflow: hidden;

}

.picture_wrapper {
  width: 100%;
  img {
    width: 100%;
  }
}

