@import "../../../styles/settings.scss";

.root {
  border: 1px solid $form-border;
  display: inline-flex;
  height: 45px;
  color: $form-text;

  .category {
    border-right: 1px solid $form-border;
    display: flex;
    align-items: center;
    position: relative;

    .icon:first-child {
      color: $form-icon;
      position: absolute;
      left: 10px;
      z-index: 0;
    }

    .icon:last-child {
      position: absolute;
      right: 10px;
      z-index: 0;
    }

    select {
      -webkit-appearance: none;
      border: 0;
      background-color: $form-select-bcg;
      padding: 5px 30px 5px 35px;
      position: relative;
      z-index: 1;
      outline: none;
      font-size: 14px;
      cursor: pointer;

      &:hover {
        color: $primary;
      }
    }

    &:hover {
      color: $primary;
    }
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $form-text;
      }
    }

    button {
      border: 0;
      background-color: $form-select-bcg;
      outline: none;
    }
  }
}
