@import "../../../styles/settings.scss";

.root {
  border: 1px solid $form-border;
  display: inline-flex;
  height: 45px;
  color: $form-text;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .category {
    font-size: 14px;
    cursor: pointer;
    &:hover {
      color: $form-icon;

      &>.category__items {
        height: auto;
        color: $form-text;
      }
    }

    &__header {
      border-right: 1px solid $form-border;
      display: flex;
      align-items: center;
      position: relative;
      padding: 5px 30px 5px 35px;
      height: 100%;


      .icon:first-child {
        color: $form-icon;
        position: absolute;
        left: 10px;
        z-index: 0;
      }

      .icon:last-child {
        position: absolute;
        right: 10px;
        z-index: 0;
      }
    }

    &__items {
      height: 0;
      overflow: hidden;
      box-shadow: 2px 3.464px 6px rgba(1, 2, 2, 0.2);
      background-color: #ffffff;

      li {
        padding: 5px 30px 5px 35px;

        &:hover {
          color: $form-icon;
          background-color: transparentize($color: $form-border, $amount: 0.9);
        }
      }
    }
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $form-text;
      }
    }

    button {
      border: 0;
      background-color: $form-select-bcg;
      outline: none;
    }
  }
}

@media(max-width: 557px) {
  .root {
    min-height: 90px;
    display: inline-block;
    //flex-direction: column-reverse;
    margin-bottom: 5px;
    max-width: 100%;

    .category {
      min-height: 50%;
      border-right: none;
    }

    .searchField {
      min-height: 50%;
      border-top: 1px solid $form-border;
      justify-content: space-between;
    }
  }

}
