@import "../../../styles/settings.scss";

.root {
  width: 210px;
  margin-left: 20px;
  position: fixed;
  top: 65%;
  z-index: 5;

  .hide {
    visibility: hidden;
  }

  .show {
    visibility: visible;
  }

  .button {
    width: 100%;
    background-color: $button;
    color: $window;
    border: none;
  }

  .button:hover {
    background-color: $orange;
  }

  a:hover {
    text-decoration: none;
  }

  .window {
    border: 1px solid $button;
    border-bottom: none;

    .background {
      width: 100%;
      height: 140px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      background-color: $window;

      .icon {
        margin-bottom: 13px;
        margin-left: 5px;
      }
    }
    .message {
      height: 30px;
      width: 140px;
      border-radius: 30%;
      background-color: $message;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 5px;
      margin-bottom: 5px;

      p {
        margin: 0;
        font-size: 11px;
      }
    }
  }

  .chat {
    form {
      display: flex;
    }

    .iconBox {
      width: 42px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $white;
      border: 1px solid $button;
      cursor: pointer;
      border-left: none;
    }

    .iconBox:hover {
      background-color: $message;
    }

    textarea {
      width: 80%;
      resize: none;
      font-size: 11px;
      border: 1px solid $button;
    }

    textarea:focus {
      background-color: $message;
    }
  }
}
